<div id="center">
  <div id="account_back">
    <div style="font-size:30px">
      <%= @notice %>
    </div>
    <p>登録したアーティスト</p>
    <div id="items">
    <%= render :partial => "items" %>
    </div>

    <a href="/account/set_arthist" class="account_button2">アーティスト情報登録</a>

    <%= link_to("ログアウト","/sign_out",{method: :post, :class => 'account_button2'}) %>
  </div>
</div>
