<%= form_tag("/account/set_arthist/create")do %>
<div id="set_arthist_center">
  <div id="feature_back">
    <p>アーティスト情報登録</p>
    <p>名前</p>
    <input type="text" name="arthist">
    <div class="error"><%= flash[:name] %></div>
    <p>ボーカル</p>
    <input type="radio" name="gender" id="" value="1">男性
    <input type="radio" name="gender" id="" value="2">女性

    <p>声の高さ</p>
    <div>低い</div>
    <div>
      <input type="radio" name="voice" value="1">
      <input type="radio" name="voice" value="2">
      <input type="radio" name="voice" value="3">
      <input type="radio" name="voice" value="4">
      <input type="radio" name="voice" value="5">
    </div>
    <div>高い</div>

    <p>曲の長さ</p>
    <div>短い</div>
    <div>
      <input type="radio" name="length" value="1">
      <input type="radio" name="length" value="2">
      <input type="radio" name="length" value="3">
      <input type="radio" name="length" value="4">
      <input type="radio" name="length" value="5">
    </div>
    <div>長い</div>

    <p>歌詞</p>
    <div>日本語</div>
    <div>
      <input type="radio" name="lyrics" value="1">
      <input type="radio" name="lyrics" value="2">
      <input type="radio" name="lyrics" value="3">
      <input type="radio" name="lyrics" value="4">
      <input type="radio" name="lyrics" value="5">
    </div>
    <div>英語</div>

    <p>ジャンル</p>
    <select name="genre1">
      <option value="0"></option>
      <option value="1">J-ROCK</option>
      <option value="2">J-POP</option>
      <option value="3">ROCK</option>
      <option value="4">POPS</option>
    </select>

    <p>ジャンル2</p>
    <select name="genre2" id="genre2">
      <option value="0">　　　　</option>
    </select>

    <p>歌詞の特徴</p>
    <select name="lyrics_genre">
      <option value="0"></option>
      <option value="1">応援</option>
      <option value="2">政治</option>
      <option value="3">社会</option>
      <option value="4">恋愛</option>
      <option value="5">季節</option>
      <option value="6">ネタ</option>
      <option value="7">その他</option>
    </select>

    <p>重点を置く音</p>
    <select name="pick_up">
      <option value="0"></option>
      <option value="1">ボーカル</option>
      <option value="2">ギター</option>
      <option value="3">ベース</option>
      <option value="4">ドラム</option>
      <option value="5">その他</option>
    </select>

    <input type="submit" id="update_push" value="登録">
  </div>
</div>
<% end %>

<%= javascript_include_tag 'application' %>
